<h1>Stupid Coaching   </h1>

<% if params[:answer].include? "?"%>
<p><%= params[:answer] %></p>
<p>-You</p>
<p>Silly question, get dressed and go to work</p>
<p>-Your coach </p>
<% elsif params[:answer].capitalize == "I am going to work" %>
<p><%= params[:answer] %></p>
<p>-You</p>
<p>Great!</p>
<p>-Your coach </p>
<% else %>
<p><%= params[:answer] %></p>
<p>-You</p>
<p>I don't care,get dressed and go to work!</p>
<p>-Your coach </p>

<% end %>
