<h1>Stupid Coaching   </h1>
<form action="/answer" method = "get" data-turbo="false">
<label for="answer">Ask your coach anything:</label>
  <input type="text" name="answer">
  <input type="submit" value="Ask!">
</form>
